.hero-container {
background-image:linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.274)),url("../images/web-developer.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
height: 50vw;
}
#hero-text {
    text-align: center;
    color: white;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    display: inline-block;
    line-height: 1.3;
    border-right: 3px solid #fff;  
    animation: cursor 1s step-end infinite;
  }
  @keyframes cursor {
    from, to { border-color: transparent; }
    50% { border-color: #fff; }
  }

 #nav {
    z-index: 99;
    position: relative;
    z-index: 2;
 }
.ciaran {
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 1;
}

@media screen and (min-width: 700px) {
    .hero-container {
        height: 40vw;
    }
    
}

@media screen and (min-width: 1000px) {
    .hero-container {
        height: 35vw;
    }
    
}
.fadeIn {
	width: 100px;
	height: 100px;
	opacity: 0.00;
	transition: 100ms all ease-in-out;
	-moz-transition: 100ms all ease-in-out;
	-webkit-transition: 100ms all ease-in-out;
}

  .fadeIn.active {
	opacity: 1.00;
}